.app {
  display: flex;
  justify-content: center;
  background-color: #020631;
  min-height: 100vh;
}

.main {
  width: 100%;
  max-width: 376px;
  display: flex;
  flex-direction: column;
  padding: 128px 24px 0 24px;
}

.input {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #fff;
  font-size: 1rem;
  padding: 6px;
  margin-bottom: 16px;
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listItem {
  background-color: #5529dc;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
